// CSS reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}
// fonts
@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Rubik:ital,wght@0,300;1,300&display=swap");
body {
  font-family: "Quicksand", sans-serif;
  font-family: "Rubik", sans-serif;
}
// styles
@import "homePage";
@import "movie";
@import "filter";
@import "footer";
@import "loading";
